<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://res.cloudinary.com/charmdev/image/upload/v1566631390/cocktail.jpg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Add a Cocktail", new_cocktail_path, class: "nav-link"  %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/charmdev/image/upload/v1566625948/rock_glass_cocktail.jpg);">
  <div class="container">
    <h1>Yaya Cocktails</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card" style="width: 18rem;">
        <% if cocktail.photo.file == nil %>
          <img src="https://loremflickr.com/286/200/cocktail">
        <% else %>
          <%= cl_image_tag cocktail.photo, class: 'img-fluid' %>
        <% end %>
        <div class="card-body" style="min-height: 170px;">
          <h5 class="card-title"><%= cocktail.name %></h5>
          <%= link_to "Go Drink", cocktail_path(cocktail), class: 'btn btn-primary align-self-end' %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
