.card-description h2 {
  color: white;
}

.card {
    height: 250px;
    background-size: cover !important;
    background-position: center;
    margin: 5px 0;
    background-position: center;
    position: relative;
}

.card-body {
  display: flex;
}

// <%= link_to "Go Drink", cocktail_path(cocktail), class: 'btn btn-primary align-self-end' %>
